.header
{
  width: 100vw;
  height: 69px;
  border-bottom: 1px solid var(--bclr);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-page-wrapper
{
  width: 100%;
  height: calc(100vh - 69px);
  display: flex;
}

.navigation
{
  width: var(--whd);
  height: 100%;
  border-right: 1px solid var(--bclr);
  overflow-y: auto;
}

.composer-button-wrapper {
  width: 100%;
  padding-top: var(--p);
  padding-bottom: var(--p);
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-page {
  width: var(--wpg);
}

.logo {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}


.navigation ul {
  list-style: none;
  padding: var(--p);
  padding-top: 0;
}

.navigation ul li {
  padding: var(--p2)
}

.navigation ul li:hover {
  background: var(--bg2)
}