.emailpage {
  width: 100%;
  background-color: var(--bg0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.email-section {
  width: 100%;
  height: 56px;
  background-color: var(--bg1);
  border-bottom: 1px solid var(--bclr);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--p2)
}

.emails-container {
  height: calc(100% - 56px);
  overflow: auto;
}

.email-card {
  width: 100%;
  display: flex;
  align-items: center;
}
