.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--bg1);
}

.App-in {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--bg1);
}

.default-page {
  width: 100%;
  background-color: var(--bg0);
  display: flex;
  justify-content: space-between;
}

.settings-page-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.settings-page-in {
  padding: var(--p);
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 84vh;
}

.page-in-default-01 {
  width: 100%;
  height: 100%;
}
.page-in-default-01-in {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: var(--p)
}
.page-in-default-section {
  width: 100%;
  height: fit-content;
  min-height: 128px;
  background: var(--bg1);
  padding: var(--p2);
  border-radius: 5.6px;
  display: flex;
  flex-direction: column;
}

.page-in-default-content {
  padding: var(--p2);
  width: 100%;
  height: fit-content;
}

.page-in-default-section-title {
  width: 100%;
  display: flex; align-items: center; justify-content: space-between;
}
.page-in-default-section-title-in {
  width: 46%;
  display: flex; align-items: center; 
}